asn1crypto==0.24.0
Brlapi==0.6.6
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
command-not-found==0.3
cryptography==2.6.1
dateutils==0.6.6
defer==1.0.6
entrypoints==0.3
httplib2==0.12.1
idna==2.8
jeepney==0.4
keyring==19.0.1
keyrings.alt==3.1.1
language-selector==0.1
louis==3.5.0
nba-py==0.1.1a2
netifaces==0.10.9
olefile==0.46
onboard==1.4.1
pathlib==1.0.1
pexpect==4.6.0
Pillow==5.4.1
pipenv==2018.11.26
psycopg2==2.7.7
psycopg2-binary==2.7.7
ptyprocess==0.6.0
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pygobject==3.26.1
pymongo==3.7.2
python-apt===1.6.3.0.1-elementary6-ubuntu5.0.1
python-dateutil==2.8.0
pytz==2018.9
pyxdg==0.25
PyYAML==5.1
reportlab==3.4.0
requests==2.21.0
requests-cache==0.4.13
requests-unixsocket==0.1.5
SecretStorage==3.1.1
six==1.12.0
ssh-import-id==5.7
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.24.1
virtualenv==16.4.1
virtualenv-clone==0.5.1
xkit==0.0.0
